@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #BEC7C7,  #FFEB4D);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 15px 10px rgba(255, 255, 255, 0.397);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#BB2020;
    text-align:center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.452);
}

h2{
    color:#121317;
}

p{
    text-align: justify;
}